# Send only unzipped war directory to Docker
**
!/entity-web/target/entity-web

# Any type of properties file should not be uploaded to Docker hub
**/*.jks
**/*.user.properties
**/entity-solr.properties
**/entity.properties
**/*.properties

!**/build.properties