#Ensure no sensitive files are included in jar
**
!/entity-web/target/entity-web-executable.jar

# Any type of properties file should not be uploaded to Docker hub
**/*.jks
#**/*.user.properties
#**/entity-solr.properties
#**/entity.properties
**/*.properties

!**/build.properties